---
layout: default
---

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {{ content }}
    {% include post-tags.html post=page %}
  </div>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a class="twitter-share-button" href="https://twitter.com/share?text=#タコ研日誌">Tweet</a>
  {% include comments.html %}
  {% include related_posts.html %}
</div>
