---
layout: default
---

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {{ content }}
    {% include post-tags.html post=page %}
  </div>
<a href="https://twitter.com/intent/tweet?button_hashtag=sharebutton&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-lang="ja" data-show-count="false">Tweet #sharebutton</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  {% include comments.html %}
  {% include related_posts.html %}
</div>
